In [1]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

from nltk.corpus import stopwords

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('final_clean.csv')
df.head()

,title,overview,keywords,genres,director,film_cast,tags
0,Toy Story,"led by woody, andy's toy live happily in his r...",jealousy toy boy friendship friend rivalry boy...,animation comedy family,johnlasseter,tomhanks timallen donrickles jimvarney wallace...,"led by woody, andy toy live happily in his roo..."
1,Jumanji,when sibling judy and peter discover an enchan...,board game disappearance new home recluse gian...,adventure fantasy family,joejohnston,robinwilliams jonathanhyde kirstendunst bradle...,when sibling judy and peter discover an enchan...
2,Grumpier Old Men,a family wedding reignites the ancient feud be...,fishing best friend duringcreditsstinger old men,romance comedy,howarddeutch,waltermatthau jacklemmon ann-margret sophialor...,a family wedding reignites the ancient feud be...
3,Waiting to Exhale,"cheated on, mistreated and stepped on, the wom...",based on novel interracial relationship single...,comedy drama romance,forestwhitaker,whitneyhouston angelabassett lorettadevine lel...,"cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,just when george bank ha recovered from his da...,baby midlife crisis confidence aging daughter ...,comedy,charlesshyer,stevemartin dianekeaton martinshort kimberlywi...,just when george bank ha recovered from his da...

In [60]:
cv = CountVectorizer(stop_words= stopwords.words('english'))
transformed = cv.fit_transform(df['tags'])
scaled_transformed = (transformed-np.min(transformed))/(np.max(transformed)-np.min(transformed))
scaled_transformed

<44319x162824 sparse matrix of type '<class 'numpy.float64'>'
	with 1799861 stored elements in Compressed Sparse Row format>

In [61]:
def recommend(movie_title):
    d = {'Title':[],'Similarity':[]}
    user_movie_index = df[df['title'] == movie_title].index[0]
    user_trans = scaled_transformed[user_movie_index]
    
    for i in range(len(df['title'])):
        if i != user_movie_index:
            movie_trans = scaled_transformed[i]
            sim = cosine_similarity(user_trans,movie_trans)[0][0]
            d['Title'].append(df['title'][i])
            d['Similarity'].append(sim)
    
    return pd.DataFrame(d).sort_values(by = 'Similarity',ascending = False)[['Title']].head(5)

In [62]:
recommend("Marvel One-Shot: A Funny Thing Happened on the Way to Thor's Hammer")

                                       Title
40325  Marvel Studios: Assembling a Universe
40322        Marvel One-Shot: The Consultant
28084               Marvel One-Shot: Item 47
41114          Marvel One-Shot: Agent Carter
26228                         Thor: Ragnarok

In [28]:
recommend("Toy Story")

                      Title
2972            Toy Story 2
15260           Toy Story 3
1788         Small Soldiers
21703  Toy Story of Terror!
24235     Hawaiian Vacation

In [29]:
recommend("Toy Story")

                      Title
2972            Toy Story 2
15260           Toy Story 3
1788         Small Soldiers
21703  Toy Story of Terror!
24235     Hawaiian Vacation

In [30]:
recommend("Teen Titans: The Judas Contract")

                                                   Title
36983                     Justice League vs. Teen Titans
40062  LEGO DC Comics Super Heroes: Batman: Be-Leaguered
41022  Batman Beyond Darwyn Cooke's Batman 75th Anniv...
18866                             Superman vs. The Elite
41023                               Batman: Strange Days

In [31]:
recommend('Baahubali 2: The Conclusion')

                          Title
31384  Baahubali: The Beginning
38657             The Last King
11253                   Flyboys
18311                 Red Tails
9167           The 10th Kingdom